<div class="container" style="background-color: #fdce92; width: 900px; height: 100vh; padding: 30px">
  <h1 style="text-align: center;">Add your Cocktail</h1>
  <div class="second-container" style="padding-top: 30px;">
    <img src="app/assets/images/empty_drink.jpeg", alt="cocktail image" style="height: 450px; width: 400px; object-fit: cover; margin-left: 20px;">
    <div class="rightside">
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      </br>
      <div>
        <%= f.button :submit, class: "btn" %>
      <% end %>
    </br>
      <%= link_to 'Homepage', cocktails_path, class: "btn-small" %>
      </div>
    </div>
  </div>
</div>
